<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>飞印应用demo打印测试</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
    <link rel="stylesheet" href="/static/css/weui.css"/>
    <link rel="stylesheet" href="/static/css/example.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/weui.js"></script>
    <script src="/static/js/test.js"></script>
</head>
<body class="body">
<div class="container">
    <div id="div" class="page js_show">
        <div class="page__hd">
            <h1 class="page__title" style="font-size: 25px;">打印测试</h1>
        </div>
        <div class="page__bd">
            <div id="cell" class="weui-cells">
            </div>
        </div>
    </div>
</div>
</body>
</html>